[DEFAULT]
bind_ip = {{ service_ip }}
devices = /srv/node
mount_check = true
user = hummingbird

[app:account-server]
{% if account_port is defined %}
bind_port = {{ account_port }}
{% endif %}
disk_limit = {{ account_disk_limit | default ("100/0") }}

[account-replicator]
{% if account_port is defined or account_replicator_port is defined %}
bind_port = {{ account_replicator_port | default(account_port + 500) }}
{% endif %}
