[DEFAULT]
bind_ip = {{ service_ip }}
devices = /srv/node
mount_check = true
user = hummingbird

[app:account-server]
bind_port = {{ account_port }}
disk_limit = 0/0

[account-replicator]
bind_port = {{ account_replicator_port | default(account_port + 500) }}
