[swift-hash]
swift_hash_path_prefix = {{ hash_prefix }}
swift_hash_path_suffix = {{ hash_suffix }}

{% for policy in storage_policies %}
[storage-policy:{{loop.index0}}]
{% if loop.index0 == 0 %}
default = yes
{% endif %}
name = {{ policy.name }}
policy_type = {{ policy.type }}
{% if policy.type == "hec" %}
data_shards = {{ policy.data_shards }}
parity_shards = {{ policy.parity_shards }}
nursery_replicas = {{ policy.nursery_replicas }}
{% endif %}
{% endfor %}
