[bench]
auth = {{ test_auth_uri }}
user = {{ test_auth_user }}
key = {{ test_auth_key }}
concurrency = {{ test_bench_concurrency }}
object_size = {{ test_bench_object_size }}
num_objects = {{ test_bench_num_objects }}
num_gets = {{ test_bench_num_gets }}
delete = {{ test_bench_delete }}
allow_insecure_auth_cert = {{ test_bench_allow_insecure_auth_cert }}
single_container = {{ test_bench_single_container }}
