[DEFAULT]
bind_ip = {{ service_ip }}
devices = /srv/node
mount_check = true
user = hummingbird

[app:object-server]
{% if object_port is defined %}
bind_port = {{ object_port }}
{% endif %}
disk_limit = 0/0
account_rate_limit = 0/0

[object-replicator]
{% if object_port is defined or object_replicator_port is defined %}
bind_port = {{ object_replicator_port | default(object_port + 500) }}
{% endif %}

[object-auditor]
