[DEFAULT]
bind_ip = {{ service_ip }}
devices = /srv/node
mount_check = true
user = hummingbird

[app:object-server]
bind_port = {{ object_port }}
disk_limit = 0/0
account_rate_limit = 0/0

[object-replicator]
bind_port = {{ object_replicator_port | default(object_port + 500) }}

[object-auditor]
